{% extends 'base.html.twig' %}

{% block title %}{{ 'diary.title'|trans }}{% endblock %}

{% block body %}
{# Pass translations to JavaScript #}
<div data-translations="{{ {
    'loading': 'diary.loading'|trans,
    'confirm_delete': 'diary.messages.confirm_delete'|trans,
    'entry_not_found': 'diary.messages.entry_not_found'|trans,
    'failed_delete': 'diary.messages.failed_delete'|trans,
    'failed_save': 'diary.messages.failed_save'|trans,
    'failed_load': 'diary.messages.failed_load'|trans,
    'failed_favorite': 'diary.messages.failed_favorite'|trans,
    'entry_saved': 'diary.messages.entry_saved'|trans,
    'entry_deleted': 'diary.messages.entry_deleted'|trans,
    'failed_load_content': 'diary.messages.failed_load_content'|trans,
    'failed_load_edit': 'diary.messages.failed_load_edit'|trans,
    'update_reload_error': 'diary.messages.update_reload_error'|trans,
    'saving': 'diary.messages.saving'|trans,
    'title_required': 'diary.messages.title_required'|trans,
    'favorite': 'diary.favorite.title'|trans,
    'not_favorite': 'diary.favorite.not_favorite'|trans,
    'back': 'diary.actions.back'|trans,
    'edit': 'diary.actions.edit'|trans,
    'save': 'diary.actions.save'|trans,
    'cancel': 'diary.actions.cancel'|trans,
    'delete': 'diary.actions.delete'|trans,
    'new_entry': 'diary.new_entry'|trans,
    'encrypt_entry': 'diary.encrypt_entry'|trans,
    'form_title': 'diary.form.title'|trans,
    'form_content': 'diary.form.content'|trans,
    'form_mood': 'diary.form.mood'|trans,
    'form_mood_select': 'diary.form.mood_select'|trans,
    'form_tags': 'diary.form.tags'|trans,
    'form_tags_help': 'diary.form.tags_help'|trans,
    'form_moods_happy': 'diary.form.moods.happy'|trans,
    'form_moods_calm': 'diary.form.moods.calm'|trans,
    'form_moods_thoughtful': 'diary.form.moods.thoughtful'|trans,
    'form_moods_excited': 'diary.form.moods.excited'|trans,
    'form_moods_sad': 'diary.form.moods.sad'|trans,
    'form_moods_anxious': 'diary.form.moods.anxious'|trans,
    'placeholders_content': 'diary.placeholders.content'|trans,
    'placeholders_tags': 'diary.placeholders.tags'|trans
}|json_encode|e('html_attr') }}"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>{{ 'diary.title'|trans }}</h1>
        <button class="btn btn-sm btn-cyber" data-action="new-entry">
            <i class="mdi mdi-plus"></i> {{ 'diary.actions.new'|trans }}
        </button>
    </div>
    <div class="diary-entries">
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('diary') }}
{% endblock %}
