<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {# Favicon and manifest #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ path('app_manifest') }}">
        <meta name="theme-color" content="#0a0b14">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="position-relative min-vh-100 citadel-background">
        {{ include('components/_navigation.html.twig') }}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <main class="pb-5">
            {% block body %}{% endblock %}
        </main>

        <footer class="footer mt-auto py-2 position-absolute bottom-0 start-0 end-0">
            <div class="container text-center">
                <small>{{ 'app.name'|trans }} {{ 'app.footer.version'|trans({'%version%': citadel_version}) }} | {{ 'app.footer.made_with_love'|trans }}</small>
            </div>
        </footer>
    </body>
</html>
