{% if app.user %}
<div class="modal fade" id="spiritChatModal" tabindex="-1" aria-labelledby="spiritChatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content glass-panel_" style="background-color: #2e3135;">
            <div class="modal-header bg-cyber-g border-success py-1 py-md-2">
                <span id="spiritChatToolsAndConversationsToggle" class="btn_ btn-cyber btn-sm me-3 cursor-pointer fs-5"><i class="mdi mdi-menu-open"></i></span>
                
                <span id="spiritChatModalTitle" class="fs-6 me-2"></span>
                <span class="modal-title small d-flex align-items-center text-light me-2" id="spiritChatModalLabel">
                    {# {{ 'spirit.chat.title'|trans }}  #}
                    {% include "components/_spirit_icon.html.twig" %}
                    <span class="spiritName opacity-75"></span>
                </span>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'ui.close'|trans }}"></button>
            </div>
            <div class="modal-body pt-0">
                <div id="spiritChatToolsAndConversations" class="d-none row position-fixed start-0 end-0 bg-dark glow-cyber p-4 border-bottom-1 border-success border-opacity-50" style="z-index: 10;">
                    <div class="col-md-8_">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h6 class="d-none d-md-inline">
                                <i class="mdi mdi-forum-outline text-cyber me-2"></i>
                                <span>{{ 'spirit.chat.conversations'|trans }}</span>
                            </h6>
                            <div class="input-group w-auto mx-2">
                                <span class="input-group-text border-secondary border-opacity-50" style="background-color: transparent;"><i class="mdi mdi-magnify text-secondary"></i></span>
                                <input type="text" class="form-control" id="conversationSearch" placeholder="{{ 'spirit.chat.search_conversations'|trans }}">
                            </div>
                            <button id="newConversationBtn" class="btn btn-sm btn-cyber">
                                <i class="mdi mdi-message-plus"></i><span class="ms-2 d-none d-md-inline">{{ 'spirit.chat.new_conversation'|trans }}</span>
                            </button>
                        </div>
                        <div id="conversationsList" class="list-group conversation-list">
                            <div class="text-center p-3">
                                <div class="spinner-border text-cyber" role="status">
                                    <span class="visually-hidden">{{ 'auth.key_generation.loading'|trans }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="chatContainer" class="chat-container d-none">
                    <div id="chatMessages" class="chat-messages mb-3">
                        <div class="text-center p-3 loading-indicator">
                            <div class="spinner-border text-cyber" role="status">
                                <span class="visually-hidden">{{ 'auth.key_generation.loading'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer chat-container border-secondary border-opacity-50">
                <form id="chatForm" class="d-flex flex-column w-100 m-0">

                    <div>
                        {# Hidden image upload input #}
                        <input type="file" id="imageUpload" accept="*" class="d-none" multiple>
                        {# image upload preview #}
                        <div id="imageUploadPreview" class="w-100 p-2 pt-0 d-none">
                        </div>
                    </div>

                    <div class="d-flex align-items-top gap-2">

                        <div class="d-flex flex-column gap-2 text-end pt-1">                        
                            <button type="button" id="imageUploadButton" class="btn btn-cyber" title="{{ 'file_browser.upload'|trans }}">
                                <i class="mdi mdi-file-plus"></i>
                            </button>

                            <div class="d-flex gap-2">
                                <i class="mdi mdi-information-outline text-cyber cursor-pointer ms-1" id="chatInfoIcon" data-bs-toggle="collapse" data-bs-target="#chatInfo" aria-expanded="false" aria-controls="chatInfo"></i>
                                <i class="mdi mdi-tune-vertical text-cyber cursor-pointer me-1" id="chatSettingsIcon" data-bs-toggle="collapse" data-bs-target="#chatSettings" aria-expanded="false" aria-controls="chatSettings"></i>
                            </div>
                        </div>

                        <div class="d-flex flex-column gap-2" style="flex-grow: 1;"> 
                            <textarea id="messageInput" class="form-control flex-grow-1" rows="3" placeholder="{{ 'spirit.chat.type_message'|trans }}" autocomplete="off" focus></textarea>

                            <div class="d-flex flex-column gap-1 align-items-center mt-2 ps-2">
                                <div class="form-range d-flex align-items-center gap-2 collapse" id="chatSettings">
                                    <label class="form-range-label small text-end" for="responseMaxOutputSlider">
                                        <i class="mdi mdi-arrow-collapse-right text-white me-2"></i>
                                        <span class="d-none d-md-inline">{{ 'spirit.chat.response_max_output'|trans }}:</span> 
                                        <span id="responseMaxOutputValue" class="text-cyber fw-bold d-inline-block text-end" style="width: 3.2em;">-</span> tokens
                                    </label>
                                    <input class="form-range-input" type="range" id="responseMaxOutputSlider" min="10" max="4096" value="500" step="10">
                                </div>

                                <div class="form-range d-flex align-items-center gap-2 collapse" id="chatInfo">
                                    <i class="mdi mdi-brain text-cyber_"></i>
                                    <span id="chatInfoPrimaryAiModel" class="small" title="AI Model">-</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-flex flex-column gap-2 pt-1"> 
                            <button type="submit" id="sendMessageBtn" class="btn btn-cyber" style="max-height: min-content !important; padding: 0.4rem 1.2rem !important;">
                                <i class="mdi mdi-message-check"></i>
                            </button>
                            
                            <button type="button" id="stopExecutionBtn" class="btn btn-outline-danger d-none" style="max-height: min-content !important; padding: 0.4rem 1.2rem !important;" title="Stop execution">
                                <i class="mdi mdi-stop-circle"></i>
                            </button>

                            <div id="creditIndicator" class="d-flex gap-2 align-items-center">                           
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newConversationModal" tabindex="-1" aria-labelledby="newConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content glass-panel">
            <div class="modal-header bg-cyber-g border-success">
                <h5 class="modal-title" id="newConversationModalLabel"><i class="mdi mdi-message-badge me-2"></i> {{ 'spirit.chat.new_conversation'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'ui.close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <form id="newConversationForm">
                    <div class="mb-3 w-100">
                        <label for="conversationTitle" class="form-label">{{ 'spirit.chat.conversation_title'|trans }}</label>
                        <input type="text" class="form-control" id="conversationTitle" required focus>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"><i class="mdi mdi-close me-2"></i>{{ 'ui.cancel'|trans }}</button>
                        <button type="submit" class="btn btn-cyber"><i class="mdi mdi-check me-2"></i>{{ 'ui.create'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConversationModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content glass-panel">
            <div class="modal-header bg-danger">
                <i class="mdi mdi-message-alert me-2"></i> <span class="modal-title text-white" id="deleteConversationModalLabel"></span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'ui.close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <form id="deleteConversationForm">
                    <div class="mb-3 w-100 py-2 text-center fs-5">
                        <span>{{ 'spirit.chat.delete_conversation_confirm'|trans }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"><i class="mdi mdi-close me-2"></i>{{ 'ui.cancel'|trans }}</button>
                        <button type="submit" class="btn btn-danger"><i class="mdi mdi-delete me-2"></i>{{ 'ui.delete'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{# Content showcase modal - full-screen modal for all (text, md, pdf, image, audio, video) content viewing #}
<div class="modal fade" id="contentShowcaseModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content bg-dark">
            <div class="modal-header border-success border-bottom d-none py-2">
                <h5 class="modal-title" id="contentShowcaseModalLabel"><i class="" id="contentShowcaseModalHeaderIcon"></i> <span id="contentShowcaseModalTitle"></span></h5>
            </div>
            <div class="modal-body position-relative">
                <i class="mdi mdi-close text-cyber bg-dark bg-opacity-75 rounded p-1 cursor-pointer position-fixed end-0 top-0 me-1 fs-5" style="z-index: 1;" 
                    data-bs-dismiss="modal" aria-label="{{ 'ui.close'|trans }}" title="{{ 'ui.close'|trans }}"></i>
                <div class="contentShowcaseModal-content w-100 h-100 position-relative">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between d-none">
                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"><i class="mdi mdi-close me-2"></i>{{ 'ui.close'|trans }}</button>
                <button type="button" class="btn btn-cyber"><i class="mdi mdi-download me-2"></i>{{ 'file_browser.download'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
